<<<<<<< HEAD
=======
@font-face {
  font-family: 'bpg_nino_mtavruli_bold'; font-weight: normal;
  src: url('fonts/bpg_nino_mtavruli_bold.eot');
  src: url('fonts/bpg_nino_mtavruli_bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/bpg_nino_mtavruli_bold.woff') format('woff'),
  url('fonts/bpg_nino_mtavruli_bold.ttf') format('truetype'),
  url('fonts/bpg_nino_mtavruli_bold.svg#dineng') format('svg');
}

@font-face {
  font-family: 'bpg_algeti'; font-weight: normal;
  src: url('fonts/bpg_algeti.eot');
  src: url('fonts/bpg_algeti.eot?#iefix') format('embedded-opentype'),
  url('fonts/bpg_algeti.woff') format('woff'),
  url('fonts/bpg_algeti.ttf') format('truetype'),
  url('fonts/bpg_algeti.svg#dineng') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
  background-color: #f1f1f1;
}

body:lang(ka) { font-family: 'bpg_algeti', 'sans-serif'; }
body:lang(en) { font-family: 'Noto Sans', sans-serif !important; }

input[type], textarea { color: #000; border-radius: 0px !important; }

h1:lang(ka), h2:lang(ka), h3:lang(ka), h4:lang(ka),
h5:lang(ka), h6:lang(ka), ul li:lang(ka) { font-family: 'bpg_nino_mtavruli_bold', 'sans-serif'; }

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #f1f1f1;
  min-height: 700px !important;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 200px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-brand img { width: 80px; margin-top: -10px; }

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;

}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li a { color: #fff; }

.sidebar ul li a:hover { background: #13141c }

.sidebar ul li {
  border-bottom: 1px solid #1d252d;
}

.sidebar ul li a.active {
  background-color: #1d252d;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;
  }

  .sidebar_links { margin-top: 50px; }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel-default { border-radius: 0px; }

.panel-heading { background-color: #33404f !important; border-radius: 0px; color: #fff !important;
  height: 3em;
}

.panel-heading h3, .panel-heading h5 { text-align: center; font-size: 1.2em; line-height: 0.5em}

.panel-heading a { color: #fff; text-decoration: underline; }

.panel-heading .panel-title { font-size: 1.2em; line-height: 1.5em }

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

/* Custom */

.main_logo { width: 2em; margin-top: -0.2em; float: left;}

#show_hide_sidebar { margin-top: 11px; height: auto; cursor: pointer; border: 1px solid #141a21;
  padding: 3px 5px; border-radius: 3px; background-color: #212a35; float: left;
}

#show_hide_sidebar:hover { background-color: #192028;  }

.custom_collapse { width: 1.5em; height: 2px; background-color: #fff;
  margin: 0.3em 0em; }

.top_navigation { background-color: #2a3542; color: #fff; border-bottom: 1px solid #222d38; }

.flash_message { text-align: center; margin-top: 1em; font-size: 1.5em }

.success { color: #1eca6b; text-decoration: underline; }

.error { color: #cc0216; text-decoration: underline; }

.login_error { margin: 0 auto; text-align: center; color: #cc0216; font-size: 1.1em;}

.table_center { text-align: center; }

.submit_button { background-color: #78CD51; color: #fff; width: 10em; margin: 2em 0em; height: 3em; clear: both;
  border-bottom: 5px solid #61a642; font-size: 1.1em;
}

.submit_button:hover { color: #fff; background-color: #6fbc4b }

#errors { margin: 1em 0; color: #fff; margin: 0 auto; border: 1px solid #cc0216; margin-bottom: 20px;
  background-color: #cc0216;
}

/* Google Maps */

#map-canvas { max-width: 100%; height: 30em; border: 1px solid #ccc; margin: 1em 0; clear: both;}

.controls { margin-top: 16px; border: 1px solid transparent; border-radius: 2px 0 0 2px; box-sizing: border-box;
  -moz-box-sizing: border-box; height: 32px; outline: none; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input { background-color: #fff; padding: 0 11px 0 13px; max-width: 100%; font-family: Roboto;
  font-size: 15px; font-weight: 300; text-overflow: ellipsis;
}

#pac-input:focus { border-color: #4d90fe; margin-left: -1px; padding-left: 14px; max-width: 100%; }

.pac-container { font-family: Roboto; }

#type-selector { color: #fff; background-color: #4d90fe; padding: 5px 11px 0px 11px; }

#type-selector label { font-family: Roboto; font-size: 13px; font-weight: 300; }

#target { width: 345px; }

/* End Google Maps */

.modal-content { text-align: center }

.modal-footer { text-align: center }

.modal-footer a, .modal-footer button { width: 15em; }

@media (max-width: 495px) {
  .modal-footer button { margin-bottom: 1em; margin-left: 0.4em;}
}

textarea { resize: none; }

.visible { width: 1em; margin-left: 0.2em; }

.admin_user { float: left; margin-right: 1em; }

.admin_image_container { width: 100%; overflow: hidden; clear: both; margin: 1em 0em; text-align: center}

.admin_image { width: 10em; height: 13em; border: 1px solid #ccc; position: relative; border-radius: 3px;
  float: left; margin: 0 1em 1em 0; background-color: #f4f4f4;
}

.admin_image_main { background-color: #333 }

.admin_image_box { width: 9em; overflow: hidden; height: 8em; border: 1px solid #c9c7c7; margin-left: 0.5em;
  margin-top: 0.5em;
}

.admin_image img { width: 9em; min-height: 8em; }

.delete_img {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  color: #fff;
  background-color: #ff5151;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
}

.main_image {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 9em;
  margin-left: -4.5em;
  color: #fff;
  background-color: #ff5151;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
}

.delete_add { width: 9em; text-align: center; position: absolute; bottom: 0px; color: #fff;
  background-color: #ff5151;height: 2em; line-height: 2em; margin-bottom: 0.5em; left: 50%;
  margin-left: -4.5em; cursor: pointer; border-radius: 3px; color: #fff;
}

.delete_banner { width: 9em; text-align: center; position: absolute; bottom: 0px; color: #fff;
  background-color: #ff5151;height: 2em; line-height: 2em; margin-bottom: 0.5em; left: 50%;
  margin-left: -4.5em; cursor: pointer; border-radius: 3px; color: #fff;
}

.delete_att { width: 9em; text-align: center; position: absolute; bottom: 0px; color: #fff;
  background-color: #ff5151;height: 2em; line-height: 2em; margin-bottom: 0.5em; left: 50%;
  margin-left: -4.5em; cursor: pointer; border-radius: 3px; color: #fff;
}

.delete_img:hover { background-color: #cc4141 }

.btn-success { background-color: #78CD51; color: #fff !important;
  border-bottom: 4px solid #61a642; font-size: 1.1em;
}

.submit_button:hover { color: #fff; background-color: #6fbc4b }

.login_form { border: 0px; background-color: inherit; box-shadow: 0px 0px 10px #ccc}

#admin_info { margin-right: 10px; margin-top: 15px; font-size: 1.1em; }

#admin_info a { color: #fff; }

#admin_info a:hover { text-decoration: underline; }

.language_switcher { float: left; margin-left: 0.5em; margin-top: 0.9em; }

.language_switcher a { color: #7c98b7; font-size: 1.4em; }

.delete { width: 5em; }

/* place categories */

.place_category_main { background-color: #f1f1f1; color: #3388cc }

.place_category_second { background-color: #fff }

.place_category_padding { padding-left: 2em !important; }

select[disabled] { border: 1px solid red; }

.remember input[type='checkbox'] { float: left; }

.remember span { display: block; float: left; margin-left: 4px; margin-top: 1px; }

.remember { margin-bottom: 5px; display: block; overflow: hidden }

/* place search */

.count_search { width: 100%; overflow: hidden; padding-bottom: 1em; }

.count { float: left; margin-top: 0.2em; }

#search { margin-top: 0.3em; float: right; position: relative;}

.i_search { position: absolute; right: 5px; top: 6px; color: #a9a9a9; }

#search input[type='text'] { width: 15em; padding: 0.1em 0.3em; }

.loading { width: 1.5em; position: absolute; right: 0px; top: 3px; right: 3px; display: none }

.cuisine_checkbox { overflow: hidden; padding: 0.5em 0; }

.cuisine_checkbox .checkbox { float: left; padding: 0.4em; }

.cuisine_checkbox .checkbox label { font-size: 1.1em; width: 14em; }

.checkbox_header { float: left; width: 20em; }

.categories_headers { width: 100%; overflow: hidden }

.categories_headers h5 { font-weight: bold }

.categories_headers .categories_head { float: left; width: 14em; }

#pagination { width: 100%; margin: 0; padding: 0; text-align: center }

.admin_calendar { width: 1em; }

/* Date Time Picker */

.daterangepicker_start_input { display: none !important }

.daterangepicker_end_input { display: none !important }

.cancelBtn  { display: none !important }

.applyBtn  { width: 90px;
  display: block; position: absolute; right: 0px;

}
.ranges { clear: both; position: relative; padding-bottom: 20px }

i { color: #2a3542;  }

.white { color: #fff; }

.tinymce_container { width: 100%; overflow: hidden;  z-index: 1000 !important; height: 100%;
  margin: 0; padding: 0; position: relative; margin-bottom: 1.5em;
}

.tinymce { width: 100% !important; height: 300px; }

/* Advertisement */

.ad_index {
  border: 1px solid #bbbbbb;
  background: #fff;
  height: 170px;
  text-align: center;
}

.ad_index h3 {
  font-size: 20px;
  margin-top: 70px;
}

.billing_row {
  margin-bottom: 100px;
}

.must_pay { background: #e8534f !important; }

.must_pay a { color: #fff !important  }


/* Custom Styles */

#loadmore {
  text-align: center;
  background-color: #337ab7;
  color: #fff;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  clear: both;
}

#loadmore:hover {
  background-color: #2c6fa5;
}

.delete-modal {
  z-index: 200;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 90%;
}

#main-loading {
  position: absolute;
  top: 50px;
}




/*# sourceMappingURL=app.css.map */
>>>>>>> origin/master
