/* Main Color Variables */
$white:               #ffffff;
$light-gray:          #edecec;
$light-blue:          #4285f4;
$red:                 #f44336;
$green:               #4caf50;
$green-gray:          #00bcd4;
$yellow:              #f1de30;
$purple:              #9c27b0;
$blue-gray:           #607d8b;
$orange:              #ff9800;
$black:               #000000;
$gray:                #999999;


/* Media Queries Varaibles */
$screen-xs-max:       "767px";
$screen-sm-min:       "768px";
$screen-sm-max:       "991px";
$screen-md-min:       "992px";
$screen-md-max:       "1199px";
$screen-lg-min:       "1200px";






